<nav
  class="navbar navbar-expand-lg navbar-dark sticky-top"
  style="background-color: #b85a5a"
>
  <div class="container-fluid ">
    <a class="navbar-brand fw-bold ms-3" href="#">market</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ps-3">
        <li class="nav-item">
          <a
            class="nav-link active p-2 p-lg-2"
            aria-current="page"
            [routerLink]="['/products']"
            routerLinkActive="router-link-active"
            routerLinkActive="router-link-active">
            product</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active p-2 p-lg-2"
            [routerLink]="['/cart']"
            routerLinkActive="router-link-active">
            cart</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
